<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="Furchive Setup" Version="1.0.0" Manufacturer="Furchive" UpgradeCode="7C7FC087-E34C-4F5E-B62D-8E181B59D2F2">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />

    <Chain>
      <!-- Install Microsoft Edge WebView2 Runtime if missing -->
      <PackageGroupRef Id="WebView2Runtime" />

      <!-- Install our MSI -->
      <MsiPackage SourceFile="..\msi\bin\Release\Furchive.msi" DisplayName="Furchive" Visible="yes" />
    </Chain>
  </Bundle>

  <!-- Package group for WebView2 Evergreen Runtime -->
  <Fragment>
    <PackageGroup Id="WebView2Runtime">
      <ExePackage Id="WebView2" DisplayName="Microsoft Edge WebView2 Runtime" Compressed="yes"
                  PerMachine="yes" Permanent="no" Vital="yes"
                  SourceFile="https://go.microsoft.com/fwlink/p/?LinkId=2124703"
                  InstallCommand="/install /quiet /norestart" RepairCommand="/repair /quiet /norestart" UninstallCommand="/uninstall /quiet /norestart">
        <RemotePayload ProductName="Microsoft Edge WebView2 Runtime" Description="WebView2 Evergreen Runtime"/>
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
